# Exclude large deep learning files
*.pth
*.log
*.csv
*.png
*.pt
*.mp4

Lab_2/DL_Lab2_B11107122_凃岳霖/saved_models/
Lab_2/DL_Lab2_B11107122_凃岳霖/dataset/oxford-iiit-pet/
!Lab_2/Log_best/*.log
!Lab_2/DL_Lab2_B11107122_凃岳霖/submission/best/*.csv

wandb/
Lab_5/Ignore/*
!Lab_5/Report/figures/*.png
!Lab_5/LAB5_B11107122_凃岳霖/*.pt

# Exclude system and development artifacts
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc